<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Watch <%=videoId;%></title>
        <%- include('html-head.ejs')%>
        <link rel='stylesheet' href='/stylesheets/watch-style.css'/>
    </head>
    <body>
    <%- include('header.ejs') %>
    <div id="content-div">
    <main id="watch">
        <%if(error) { %>
            <p class="error"> <%=errorMessage;%></p>
        <% } else { %>
            <div class="videoContainer">
                <video class="video-object"
                       id="<%=video.identifier;%>"
                       poster="/thumbnails/<%=video.identifier;%>.png"
                       controls
                       preload="auto"
                >
                    <source src="/videos/<%=video.identifier;%>.mp4#t=<%=video.watchedSeconds;%>" type="video/mp4">
                </video>
            </div>
            <div class="video-management">
                <button class="video-management-container download-button"
                     onclick="window.location.href='/download/<%=video.identifier;%>/<%=video.title;%>';"
                >
                    Download Video
                </button>
                <button class="video-management-container delete-button"
                     onclick="window.location.href='/delete/<%=video.identifier;%>';">
                    Delete Video
                </button>
            </div>
        </main>
        <% if(videoList.size > 1) { %>
        <aside id="aside-video-list">
            <% let counter = 0; for (let videoItem of videoList.values()) { %>
                <% if(counter < 6 && videoItem.identifier !== video.identifier) { %>
                    <div class="video-list-container">
                        <a class="videoLink" href="/watch/<%=videoItem.identifier;%>"
                           style="background-image: url('/thumbnails/<%=videoItem.identifier;%>.webp'), url('/thumbnails/<%=videoItem.identifier;%>.jpg');
                           <%if(!videoItem.downloaded) {%> background-color: var(--neonRed); <%}%>
                                   ">
                        </a>
                    </div>
                <% counter++; } %>
            <% } %>
        </aside>
        <% } %>
        <% } %>

    </div>
    <%- include('footer.ejs') %>
    <script src="/javascript/watchScript.js"></script>
    <script src="/javascript/video-key-controls.js"></script>
    </body>
</html>
